:root {
  --bg-button: #eee;
  --bg-button-functional: #ddd;
  --bg-button-hover: #ccc;
  --bg-button-pressed: #bbb;

  --color-button: #555;
  --color-button-border: #666;

  --ff-monospace: 'Courier New', Courier, monospace;
  --ff-sans-serif: 'Roboto', sans-serif;
}