.keyboard {
  border: 1px solid #000;
  border-radius: 3px;
}

.keyboard__layout {
  padding: 5px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.keyboard__row {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  gap: 5px;
}

.key {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  height: 40px;
  width: 40px;
  cursor: pointer;
  user-select: none;

  &:before {
    content: attr(data-icon);
  }

  &:after {
    content: attr(data-label);
  }

  &_functional {
    flex-grow: 1;
  }

  &_arrow:after {
    display: none;
  }

  &_Space {
    flex-grow: 10;
  }

  &_ShiftRight {
    flex-grow: unset;

    &:after {
      display: none;
    }
  }

}