.keyboard {
  border: 1px solid #000;
  border-radius: 3px;
}

.keyboard__layout {
  padding: 5px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.keyboard__row {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  gap: 5px;
}

.key {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 40px;
  padding: 0;

  border: 1px solid var(--color-button-border);
  border-radius: 4px;

  color: var(--color-button);
  background: var(--bg-button);

  cursor: pointer;
  user-select: none;
  transition: background 0.2s;

  &:before {
    content: attr(data-icon);
  }

  &:after {
    content: attr(data-label);
  }

  &:hover {
    background: var(--bg-button-hover);
  }

  &_pressed,
  &:active {
    background: var(--bg-button-pressed);
  }

  &_functional {
    flex-grow: 1;
    background: var(--bg-button-functional);
  }

  &_arrow:after {
    display: none;
  }

  &_Space {
    flex-grow: 10;
  }

  &_ShiftRight {
    flex-grow: unset;

    &:after {
      display: none;
    }
  }

}